html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Sono', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    background-image: url(/imgs/abstract-bw.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: #000000;
    overflow: auto;
}


/* Settings form */

.settings_form {
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(175, 175, 175, 0.539);
  }

.form_line {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
}

.form_line:last-of-type {
    margin: 0;
}

.form_line label {
    flex-grow: 1;
    padding-right: .5rem;
}

.form_line input[type="number"] {
    width: 60px;
    text-align: right;
    font-size: 1.5rem;
    border: none;
    font-family: 'Sono', sans-serif;
}

/* Control buttons */

.timer_controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(175, 175, 175, 0.539);
}

.timer_controls button {
    font-size: 1.5rem;
    margin: 0 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    font-family: 'Sono', sans-serif;
}

#startBtn {
    color: #3b6460;
    font-weight: bold;
}

#stopBtn {
    color: #8c2a00;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .timer_controls button {
      margin: 1rem;
    }
  }

/* Status panel */

.timer_status header {
    color: #000000;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.timer_status .box.left_align {
    text-align: left;
}

.timer_overview .box {
    flex: 0 0 50%;
    margin-bottom: 1rem;   
}

.timer_overview {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color:  rgba(255, 255, 255, 0.539);
    border-radius: 30px;
}

.timer_overview .box {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);

}

#timerOverviewMessage,
#elapsedInInterval,
#elapsedInBreakInterval {
    font-size: 3rem;
}

#timerOverviewMessage,
#elapsedInBreakIntervalBox {
    display: none;
}

#timerOverviewMessage {
    text-align: center;
    flex: 1;
    margin-bottom: 1rem;
}

.timer_additional_info {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.timer_additional_info .box {
    text-align: right;
    flex: 1 0 33%;
    padding: 1rem;
    margin-bottom: .5rem;
    box-sizing: border-box;
    font-size: 2rem;
    color: white;
}

/* Layout */

.main_container {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: "status" "controls" "settings";
    margin-bottom: 1rem;
    max-width: 960px;
    margin: 0 auto;
    background-color: rgba(172, 211, 230, 0.539);
    padding: 2rem;
    border-radius: 1rem;
}

.timer_status {
    grid-area: status;
}

.timer_controls {
    grid-area: controls;
}

.settings_form {
    grid-area: settings;
}


@media only screen and (min-width: 768px) {
    .main_container {
        grid-template-columns: repeat(2, calc(50% - 2rem / 2));
        grid-template-areas: "status status" "settings controls";
    }
}